<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      If you want more information about how to use it, visit the link below:
    </p>
    <a href="http://github.com/guivinicius/fortune-api-nodejs" target="_blank">Node.js Fortune API</a>
  </body>
</html>
